@font-face {
  font-family: 'iconfont';  /* project id 1468350 */
  src: url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.eot');
  src: url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.woff') format('woff'),
  url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1468350_gyyc5u07v5r.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  display: inline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-font-smoothing: grayscale;
}